<div>
    <h2>{{currentUser.username}}</h2>

    <hr>

    <div>
        <input type="search" placeholder="Search for new friends" [(ngModel)]="search">
    </div>
    <div *ngIf="!search.trim() else serchFriends" class="friends-wrapp">
        <div>
            <h2>Friends</h2>
            <div *ngIf="userFriends && userFriends.length > 0 else noFriends">
                <div *ngFor="let user of users">
                    <div>
                        <div *ngIf="userFriends.includes(user.id)">
                            <p>{{user.username}}</p>
                            <button (click)="remove(user.id)">Remove Friend</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noFriends>
                <p>You haven't invited friends yet</p>
            </ng-template>
        </div>

        <div>
            <h2>Invites</h2>
            <div *ngIf="userInvites && userInvites.length > 0 else noInvites">
                <div *ngFor="let user of users">
                    <div *ngIf="userInvites.includes(user.id)">
                        <p>{{user.username}}</p>
                        <button (click)="accept(user.id)">Accept</button>
                    </div>
                </div>
            </div>
            <ng-template #noInvites>
                <p>No new invites</p>
            </ng-template>

        </div>
    </div>

    <ng-template #serchFriends>
        <div *ngFor="let user of users | userSearch:search">
            <div *ngIf="!currentUser.friends?.includes(user.id)">
                <div>
                    <p> {{user.username}} </p>
                    <button #invineBtn (click)="invite(user.id)" [disabled]="user.invites?.includes(currentUser.id)">
                        {{invineBtn.disabled ? 'Invated' : 'Invite'}}
                    </button>
                </div>
            </div>
        </div>
    </ng-template>

</div>