<div *ngIf="games$ | async as games" class="card-wrap">
    <div *ngFor="let game of games" class="card">
        <h2> {{game.name}} </h2>
        <div>
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/264710/header.jpg?t=1625546782">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptate commodi sequi, repellendus quam
            neque ad earum deserunt sed veniam id officiis soluta provident maiores excepturi ipsa quibusdam enim
            eveniet?</p>
            <div>
                <button [disabled]="game.bought">Download</button>
                <button>Shere</button>
            </div>
    </div>
</div>