.wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-wrap {
        width: 400px;
        height: 400px;
        background: black;
        display: flex;
        justify-content: center;
    }
    .field {
        display: flex;
        flex-direction: column;
    }
}

