body {
    min-height: 100vh;
    height: auto;
    position: relative;
    margin: 0;
    background-image: url(./assets/colored_body_top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-sizing: border-box;
    
    a {
        text-decoration: none;
        color: white;
    }
    .validation {
        color: red;
    }
    .wrapper {
        margin: 2% 5%;
    }
    .alert-success {
        background-color: rgb(47, 139, 47);
        color: white;
    }
}
