<div class="form-wrapp">
    <form [formGroup]="loginForm">
        <h2>Sign in</h2>
        <div>
            <label 
            [ngClass]="{invalid: loginForm.get('email')?.touched && loginForm.get('email')?.invalid}"
            for="email">Email</label>
            <input id="email" type="email" placeholder="Email" formControlName="email">
            <div 
            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
            class="validation"
            >
                <small>Email is required</small>
            </div>
        </div>
        <div>
            <label 
            [ngClass]="{invalid:loginForm.get('password')?.touched && loginForm.get('password')?.invalid}"
            for="password">Password</label>
            <input id="password" type="password" placeholder="Password" formControlName="password">
            <div
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
            class="validation">
                <small>Password is required</small>
            </div>
        </div>
        <button [disabled]='!loginForm.valid || submitted ' (click)="submit()">Sign in</button>

    </form>
    <div *ngIf="auth.error$ | async as error">{{error}} </div>
    <div *ngIf="infoMessage">{{infoMessage}} </div>
</div>